<div class="row">
  <div class="col-md-6">
    <a class="btn btn-link" routerLink="/"><i class="fa fa-arrow-circle-o-left">Back to Dashboard</i></a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-block">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registraion &nbsp</label>
        <input type="checkbox" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration">
      </div>
      <div class="form-group">
          <label>Disable Balance on Add &nbsp</label>
          <input type="checkbox" [checked]="settings.disabledBalanceOnAdd" (change)="settings.disabledBalanceOnAdd = !settings.disabledBalanceOnAdd">
      </div>
      <div class="form-group">
          <label>Disable Balance on Edit &nbsp</label>
          <input type="checkbox" [checked]="settings.disabledBalanceOnEdit" (change)="settings.disabledBalanceOnEdit = !settings.disabledBalanceOnEdit">
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>